.footer {
  background-color: var(--primary-dark);
  color: var(--white);
  text-align: center;
  padding: 10px 0;
  font-size: 1rem;
  font-family: var(--sans);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content span {
  color: red;
}
